.ad {
  padding-top: 70px;
  background-color: var(--accent-c);
}

.ad__wrapper{
  display: flex;
  gap: 32px;
}

.ad__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.ad__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 25px;
}

.ad__right-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ad__right-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
