.ad {
  padding-top: 70px;
  background-color: var(--accent-c);
}

.ad__wrapper{
  display: flex;
  gap: 32px;
  padding-bottom:70px;
}

.ad__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.ad__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 25px;
}

.ad__right-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ad__right-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}

.ad__left-img--laptop {
  display: none;
}

@media screen and (max-width: 1024px){
  .ad__left-img--laptop {
    display: block;
}
  .ad__left-img-2{
    display: none;
  }
  .ad__left{
    gap: 25px;
  }
  .ad__wrapper{
    align-items: center;
  }
}

@media screen and (max-width: 520px) {
  .ad__left-img--laptop {
  display: none;
}

  .ad__left-img-2{
    display: block;
  }

  .ad__wrapper{
    flex-direction: column;
  }

  .ad__left{
    width: 100%;
  }
  .ad__right{
    width: 100%;
  }
}