.header {
  background-image: url(".././img/v.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header__wrapper{
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__list li {
  flex-shrink: 0;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  padding: 70px 70px;
  gap: 25px;
  background-color: var(--accent-c);
  margin-top: 537px;
  max-width: 624px;
  width: 100%;
  margin-left: auto;
}

@media screen and (max-width: 920px){
  .header__wrapper{
    flex-direction: column;
    gap: 10px;
  }

  .header-bottom {
    padding: 30px 12px;
  }

  .nav__list {
    gap: 30px;
  }

  .header-bottom__wrapper {
    padding: 0;
  }
  .nav__button-auth, .nav__button-reg {
    padding: 12px 24px;
  }
}

@media screen and (max-width: 520px){
    .nav__list {
      flex-direction: column-reverse;
      align-items: center;
  }
}