.header {
  background-image: url(".././img/v.jpg");
  background-repeat: no-repeat;
  /* background-position: center ; */
  background-size: 100%;
  padding-top: 20px;
  object-fit: cover;
  background-attachment: fixed;
}

.header__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
}

.nav__list {
  display: flex;
  gap: 40px;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  padding: 70px 70px;
  gap: 25px;
  background-color: var(--accent-c);
  margin-top: 537px;
  max-width: 624px;
  width: 100%;
  margin-left: auto;
}

.header__button {

}