.stock {
  margin-top: 70px;
  background-color: var(--primary-c);
}

.stock-lines{
  width: 100%;
}

.stock__top {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.stock__top-wrapper {
  display: flex;
  align-items: center;
  gap: 32px ;
}

.stock__icon {
  max-width: 132px;
  width: 100%;
}

.stock__top-text {
  max-width: 952px;
}

.stock__bottom {
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 32px;
}

.stock__bottom-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.stock__bottom-form-input {
  border-bottom: 1px solid var(--tertiary-c); 
  padding-bottom: 13px;
  align-items: center;
  color: var(--secondary-c);
}

.input-file {
	position: relative;
	display: flex;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='8%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  align-items: center;
  justify-content: center;
  padding: 39px;
  flex-direction: column;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: underline;
	font-size: 18px;
	vertical-align: middle;
	text-align: center;
  color: var(--secondary-c);
	border-radius: 4px;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}

.input-file-text {
  color: var(--secondary-c);
}

.checkbox{
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox__input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox__area {
  width: 14px;
  height: 14px;
  border: 1px solid var(--tertiary-c);
  position: relative;
  display: inline-block;
  background-color: var(--primary-c);
}

.checkbox__input:checked + .checkbox__area::after {
  content: url(../img/jackdaw.svg);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  color: var(--accent-c);
  transform: translate(-34%, -54%);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox__text {
  color: var(--secondary-c);
}

.stock__wrapper{
  display: flex;
  align-items: center;
}

.stock__wrapper-right{
  display: none;
}

.stock__icon-bottom{
  display: none;
}
.stock-lines--mobile{
  display: none;
}

@media screen and (max-width: 1024px){
  p {
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0%;
  }
  .stock__top-wrapper {
    flex-direction: column;
    align-items: start;
  }
  .stock__top-text {
    max-width: 460px;
  }
  .text--white {
    max-width: 460px;
    color: var(--secondary-c);
  }
  .stock__bottom-img {
    display: none;
  }
  .stock__wrapper-right {
    display: flex;
    flex-direction: column;
}
  .stock__wrapper-left {
   width: 50%;
}
  .stock__bottom {
    margin-top: 98px;
}
}

@media screen and (max-width: 520px) {
  .stock__bottom-img {
    display: none;
  }
  .stock__wrapper-right{
    display: none;
}
  .stock__wrapper-left{
    width: 100%;
  }
  .stock__icon-bottom{
    display: block;
  }
  .input-file-text {
    display: none;
  }
  .input-file-btn {
    font-size: 16px;
  }
  .checkbox__text {
    font-size: 12px;
  }
  .stock__bottom {
    margin-top: 70px;
}
  .stock__top {
    gap: 25px;
}
  .stock__top-text-title{
    text-wrap: nowrap;
    max-width: 100%;
    font-size: 27px;
  }
  .stock__icon{
    position: absolute;
    top: 0;
    width: 62px;
    height: 62px;
  }
  .stock__top-wrapper{
    padding-top: 55px;
    position: relative
  }
  .stock-lines--mobile{
    display: block;
    width: 100%;
}
  .stock-lines{
    display: none;
  }
}